.header {
  margin: 0;
  padding: 0;
}

.header__nologin{
  display: flex;
  justify-items: center;
  background-image: url('../../images/h400px-Les_Tuniqiues_Bleues.jpg');
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  max-width: 1440px;
  height: 400px;
  flex-direction: column-reverse;
}

.header__login{

}
